<body>


    <div class="container">
        <div class="content">
            <a href="">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                    class="button-container" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
                </svg>
            </a>



            <p>
                Olá, meu nome é Matheus, sou um programador
                formado em Administração pelo Mackenzie e Desenvolvimento Web Full
                Stack pela Digital House.
            </p>
            <br>
            <p>
                Comecei a me interessar por desenvolvimento web no final de 2018 no
                último semestre da faculdade de negócios. Desde então, venho tendo
                a oportunidade de trabalhar com ótimos programadores, designers,
                gestores e executivos.
                Confira alguns projetos em que trabalhei clicando <a href="#">aqui</a>.
            </p>
            <br>
            <p>
                No meu tempo livre, gosto bastante de praticar exercícios como
                jogar tênis e ler. Os meus livros favoritos são os livros de
                Ken Follet, Mario Puzo e Scott Fitzgerald. Na área de TI, gosto
                bastante dos livros Clean Code e Eloquent Javascript.
            </p>
            <br>
            <p>
                Valorizo bastante um espaço dinâmico de trabalho que valoriza a
                diversidade e preza pela organização de código.
                Busco projetos que desafiem minha lógica de programação e
                desenvolver soluções escaláveis e de alta qualidade.
            </p>
        </div>
    </div>

</body>