


<body>


  <div class="container mt-4 centered-content">


      <app-back-button />
        <br> <br> <br>
        @for (project of projects; track project.id) {



        <div class="card mb-3">
          <img class="card-img-top" src="{{project.img}}"alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ project.heading }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ project.Data }}</h6>
            <p class="card-text">
              {{project.description | translate}}
          </p>
          <a target="_blank" href="{{ project.link }}" class="card-link">Website</a>
          </div>
        </div>
        }
    </div>

</body>
