<nav class="container mt-4 centered-content" style="justify-content: space-between; display: flex;">
  <div class="d-flex">
      <img src="../../../assets/logoRuegg.svg" alt="icon-desenvolvedor-site" style="width: 100px; height: 60px;">
       <h1 class="display">MRGG</h1>
  </div>

  <div class="switch">
    <input id="language-toggle" class="check-toggle check-toggle-round-flat" type="checkbox"
      (click)="toggleLanguage($event)">
    <label for="language-toggle"></label>
    <span class="on">BR</span>
    <span class="off">EN</span>
  </div>
</nav>

