.rounded-image {
    border-radius: 5px;
    max-width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 90dvh; */
    /* Adjusts the height of the container to the viewport height */
}

/* Margin between buttons */
.d-flex .btn {
    margin-right: 10px;
    /* Adjust the margin as needed */
}

/* Style for the buttons */
.d-flex .btn:last-child {
    margin-right: 0;
    /* Remove margin from the last button */
}

.githubicon {
    margin-left: 8px;
}

.linkedinicon {
    margin-left: 8px;
}



