<body>
  <app-menu/>


      <section class="container mt-4 centered-content">
          <div class="row">
            <!-- First column with rounded image -->
            <div class="col-md-6">
                <img src="../assets/fotoPerfil2024Ibm.jpeg" alt="Profile Matheus Ruegg" class="rounded-image" />
            </div>
            <!-- Second column with big name and introduction -->
            <div class="col-md-6">
                <br>
                <h1 class="display">Matheus Ruegg</h1>

                <app-links-box />
                <br>
                <p class="lead">{{"description" | translate}}</p>
                <br>

                <div class="d-flex">
                    <a class="btn btn-primary" href="/about" role="button">{{"button-about" | translate}}</a>
                    <a class="btn btn-primary" href="/projects" role="button">{{"button-projects" | translate}}</a>

                </div>
            </div>
        </div>
      </section>

    <app-about-me />
    <app-projects />


<app-footer/>
</body>
