<body>


    <!--- Menu -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="navbar-collapse justify-content-between" id="navbarTogglerDemo01">

                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#" (click)="switchLanguage('en')">English</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" (click)="switchLanguage('es')">Spanish</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" (click)="switchLanguage('pt')">Portuguese</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>


    <!---// Menu -->


    <div class="container mt-4 centered-content">
        <div class="row">
            <!-- First column with rounded image -->
            <div class="col-md-6">
                <img src="../assets/foto-perfil.jpeg" alt="Profile Image" class="rounded-image">
            </div>
            <!-- Second column with big name and introduction -->
            <div class="col-md-6">
                <br>
                <h1 class="display">Matheus Ruegg</h1>

                <app-links-box />
                <br>
                <p class="lead">{{"description" | translate}}</p>
                <br>

                <div class="d-flex">
                    <a class="btn btn-primary" href="/about" role="button">{{"button-about" | translate}}</a>
                    <a class="btn btn-primary" href="/projects" role="button">{{"button-projects" | translate}}</a>

                </div>
            </div>
        </div>
    </div>


</body>